@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face { 
  font-family:"Fans Club Font";
  src:url("Guardians.woff") format('woff');
  font-display:swap;font-style:normal;font-weight:100;}

:root {
  --surface-color: #ededed;
  --dark-color: #101828;
  --heading-font: "Fans Club Font", sans-serif;
  --text-font: "Inter", sans-serif;  
}
.rounded18{border-radius: 18px}
.rounded25{border-radius: 25px}
.text-dark{color: #101828 !important}
.text-light{color: #ffffff !important;}
.text-primary{color: #f8922a !important;}
.text-secondary{color: #023fba !important;}
.bg-primary{background-color: #f8922a !important;}
.bg-secondary{background-color: #023fba !important;}
.bg-white{background-color: #fff !important;}
.bg-light{background-color: #F7F7F7 !important;}
.bg-tr{background: transparent !important;}

.weight100{font-weight: 100;}
.weight200{font-weight: 200;}
.weight300{font-weight: 300;}
.weight400{font-weight: 400;}
.weight500{font-weight: 500;}
.weight600{font-weight: 600;}
.weight700{font-weight: 700;}
.weight800{font-weight: 800;}
.weight900{font-weight: 900;}

.lh1{line-height: 1.1;}
.lh2{line-height: 1.2;}
.lh3{line-height: 1.3;}
.lh4{line-height: 1.4;}
.lh5{line-height: 1.5;}
.lh6{line-height: 1.6;}
.lh7{line-height: 1.7;}
.lh8{line-height: 1.8;}
.lh9{line-height: 1.9;}

.font10{font-size: 10px;}
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font25{font-size: 25px;}
.font27{font-size: 27px;}

.text-heading{font-family: var(--heading-font);}
.text-running{font-family: var(--text-font);}

.btn {font-size: 15px;font-weight: 600;text-transform: None;line-height: 1em;letter-spacing: 0em;border-style: none;height: 44px;padding: 15px 20px;}
.btn-primary {background-color: #f8922a !important;border: 1px solid #f8922a;color: #fff;}
.btn-primary:hover {background-color: #023fba !important;border: 1px solid #023fba;color: #fff;}
.btn-outline-primary {background-color: #fff !important;border: 1px solid #f8922a;color: #f8922a;}
.btn-outline-primary:hover {background-color: #f8922a !important;border: 1px solid #f8922a;color: #fff;}

.btn-secondary {background-color: #023fba !important;border: 1px solid #023fba;color: #fff;}
.btn-secondary:hover {background-color: #f8922a !important;border: 1px solid #f8922a;color: #fff;}
.btn-outline-secondary {background-color: #fff !important;border: 1px solid #023fba;color: #023fba;}
.btn-outline-secondary:hover {background-color: #023fba !important;border: 1px solid #023fba;color: #fff;}

.capsulecntr {font-size: 15px;font-weight: 600;text-transform: None;line-height: 1em;letter-spacing: 0em;border-style: none;height: 44px;padding: 15px 20px;background-color: #f8922a !important;border: 1px solid #f8922a;color: #fff;display: inline-block;}
.capsulecntr-outline {font-size: 15px;font-weight: 600;text-transform: None;line-height: 1em;letter-spacing: 0em;border-style: none;height: 44px;padding: 15px 20px;background-color: #fff !important;border: 1px solid #f8922a;color: #f8922a;display: inline-block;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {height: 100%;}
body {
  background: var(--surface-color);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 39px;
  letter-spacing: 0px;
  word-spacing: -30px;
}
h2 {
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0px;
  word-spacing: -20px;
}
h3 {
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0px;
  word-spacing: -15px;
}
h4 {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  word-spacing: -10px;
}
h5 {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0px;
  word-spacing: -10px;
}

p{
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFFA3;
}
.overflowhidden{overflow: hidden;}
.hoverbtn,
.hovercrd,
.hovertitle,
.hoverlist{
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  transition: all .2s cubic-bezier(.68,.01,.58,.75) !important;
}
.hoverbtn:hover{
  transform: scale(1.1);
}
.hovercrd:hover{
  transform: scale(1.04);
}
.hovertitle:hover{  
  transform: scale(1.03);
}
.hoverlist:hover{
  transform: scale(1.2);
}

section {padding: 80px 0;}
main{padding-top: 50px;}

.fix-items {position: fixed;z-index: 4;bottom: 32px;right: 32px;padding: 0px !important;display: none;}
.fix-items li a {padding: 8px;display: flex;align-items: center;justify-content: center;background: white;border-radius: 16px;box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2784313725);width: 50px;height: 50px;}
.fix-items li a:hover{background-color: #f8922a; border-radius: 16px;}
.fix-items li a:hover i{color: #fff !important;}

.logocntr{width: 120px;}
.navbarcntr {position: fixed;top: 20px;left: 50%;transform: translateX(-50%);z-index: 999;width: 100%;}
.navbar-expand-lg .navbar-nav .nav-link{color: var(--dark-color);font-weight: 600;}
.navbar-expand-lg .navbar-nav .nav-link:hover {color: #f8922a;font-weight: 600;}
.top-bar-social-box li a i{font-size: 18px;}
.top-bar-social-box li a:hover i{color: #f8922a;}

.hero-banner{
  background-color: #023fba;
  border-radius: 25px;
  padding: 60px 50px 180px 70px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.banner-hero{
  margin: -250px 0px 0px 10px;
}

.referral-code-container {
  width: 100%;
  max-width: 300px; /* Adjust this value as needed */
  overflow-wrap: break-word;
  margin-top: 10px;
  word-wrap: break-word;
  hyphens: auto;
}

#referralCode {
  font-size: 14px; /* Adjust font size as needed */
  line-height: 1.4; /* Adjust line height as needed */
  padding: 10px; /* Add some padding for better spacing */
  background-color: #f5f5f5; /* Add a background color for better visibility */
  border-radius: 4px; /* Add some border radius for a modern look */
}



.vertmove {
  -webkit-animation: mover 0.8s infinite  alternate;
  animation: mover 0.8s infinite  alternate;
}
.vertmove {
  -webkit-animation: mover 0.8s infinite  alternate;
  animation: mover 0.8s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.vertmove1 {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
.vertmove1 {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}

.vertmove2 {
  -webkit-animation: mover 1.2s infinite  alternate;
  animation: mover 1.2s infinite  alternate;
}
.vertmove2 {
  -webkit-animation: mover 1.2s infinite  alternate;
  animation: mover 1.2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.herocard{
  background-color: #023FBA;
  background-image: url("https://bitcoinfansclub.com/wp-content/uploads/2023/11/Boxpattern.webp");
  background-position: -89px 42px;
  background-repeat: no-repeat;
  background-size: cover;
}
.herocard-img{
  width: 100%;
  text-align: center;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.herocard-img img{
  position: absolute;
  height: auto;
  width: 70%;
}
.staticscntr {
  position: relative;
  overflow: hidden;
}
.staticscntrvis{
  position: relative;
  z-index: 1;
}
.staticscntr iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}
.midcntr{
  height: 50vh;
}
.countcntr{
  font-family: var(--heading-font);
  text-align: center;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0px;
  word-spacing: -20px;
  font-weight: 400;
  color: #fff;
}
.countcntr p{
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  word-spacing: 0px;
  color: #FFFFFFA3;
}
.shape-top {
  position: relative;
  bottom: -2px;
}
.shape-bottom{
  transform: rotate(180deg);
  position: relative;
  top: -1px;
}
.staticscntr svg path{
  fill: #fff;
}

.lrimg img{
  width: 80%;
}

ul.fancylist li{margin: 15px 0;}
.bdt-flex.flex-wrap{
  border-radius: 12px !important;
  padding: 15px 10px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
}
.bdt-fancy-list-{
  width: 100%;
}
.bdt-fancy-list-title {
  font-family: "Fans Club Font", Sans-serif;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0px;
  word-spacing: -10px;
  margin: 0;
}
.bdt-fancy-list-text{
  color: #999999;
  font-size: 14px;
  margin: 0;
}
.bdt-fancy-list-icon{
  font-family: "Fans Club Font", Sans-serif;
  background: #f8922a;
  color: #ffffff;
  font-size: 11px;
  border-radius: 50px ;
  padding: 5px;
  margin: 0px 20px 0px 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverlist:hover .bdt-flex.flex-wrap{background-color: #f8922a;}
.hoverlist:hover .bdt-fancy-list-title,
.hoverlist:hover .bdt-fancy-list-text{color: #fff;}
.hoverlist:hover .bdt-fancy-list-icon{background: #fff;color: #f8922a;}

.fancylist:hover li {
  filter: blur(5px);
  opacity: .75;
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0);
}
.fancylist li:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.1);
}
.subscribecntr input {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding: 5px 20px 5px 20px;
  line-height: 40px !important;
  width: 100%;
  border: 0px;
  margin-right: 10px;
  height: 44px;
}

.Roadmap{position: relative;overflow: hidden;padding-bottom: 80px !important;}
.Roadmapimg{
  background: url(../images/BFC_Tesla2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.Roadmap .titlecntr{margin-bottom: 100px !important;}
.owl-carousel ul {padding-left: 20px;min-height: 190px;}
.owl-carousel ul li{
  font-size: 14px;
  list-style: disc;
  font-weight: 300;
}
.owl-stage{
  display: table;
}
.owl-carousel .owl-item {
  display: table-cell;
}
.owl-carousel .owl-nav .owl-prev.disabled{opacity: 0.5;}
.owl-carousel .owl-nav .owl-next.disabled{opacity: 0.5;}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: -25%;  
  font-size: 0;
}

.owl-carousel .owl-nav .owl-prev{right: 100px;}
.owl-carousel .owl-nav .owl-next {right: 50px;}
.owl-carousel .owl-nav .owl-prev:after, 
.owl-carousel .owl-nav .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #fff;
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-next:after {
  content: "\f105";
}

.bitcoinism-wrapper{
  display: inline-block;
  perspective: 400px;
  text-align: center;

}
.bitcoinism-drop-in-active-header{
  display: inline-block;
  opacity: 0;
  transform-origin: 50% 100%;
  width: 100%;
}
.bitcoinism-drop-in-inactive{
  -webkit-animation: motionger-drop-in-out .6s;
  animation: motionger-drop-in-out .6s;
}
.bitcoinism-drop-in-active{
  opacity: 1;
  -webkit-animation: motionger-drop-in-in .6s;
  animation: motionger-drop-in-in .6s;
}

@-webkit-keyframes motionger-drop-in-in {
  0% {
      opacity: 0;
      transform: translateZ(300px)
  }

  100% {
      opacity: 1;
      transform: translateZ(0)
  }
}

@keyframes motionger-drop-in-in {
  0% {
      opacity: 0;
      transform: translateZ(300px)
  }

  100% {
      opacity: 1;
      transform: translateZ(0)
  }
}

@-webkit-keyframes motionger-drop-in-out {
  0% {
      opacity: 1;
      transform: translateZ(0)
  }

  100% {
      opacity: 0;
      transform: translateZ(-300px)
  }
}

@keyframes motionger-drop-in-out {
  0% {
      opacity: 1;
      transform: translateZ(0)
  }

  100% {
      opacity: 0;
      transform: translateZ(-300px)
  }
}
.scrollact{position: relative;top: -40px;}









.tokenscontainercntr {display: flex;align-items: center;}
.tokens-banner .logocntr {width: 200px;}
.tokens-banner .bfc-tokens-banner{position: absolute;width: 96%;left: 50%;bottom: 0;transform: translateX(-50%);}
.bfctokenscntr h3 {font-size: 28px;color: #fff;font-family: "Inter", sans-serif;word-spacing: 0px;font-weight: 700;display: flex;justify-content: space-between;align-items: center;}
.bfctokenscntr h3 span.islive {background: #FF8813;font-size: 16px;font-weight: 400;padding: 0px 20px;border-radius: 25px;height: 30px;display: flex;align-items: center;}
.bfctokenscntr .progress {background-color: #fff;border-radius: 20px;position: relative;margin: 15px 0;height: 25px;width: 100%;}
.bfctokenscntr .progress-done {background: #FF8813;border-radius: 20px;color: #fff;display: flex;align-items: center;justify-content: center;height: 100%;transition: 1s ease 0.3s;}
.bfctokenscntr .bfclpprice {color: #fff;font-size: 16px;font-weight: 400;display: flex;justify-content: space-around;margin-bottom: 20px;}
.bfclppricesvg svg{width: 12px;height: 12px;}
.tokenpricecntr {color: #fff;margin-bottom: 20px;}
.tokenpricecntr p{color: #fff;font-size: 23px;font-weight: 400;}
.tokenpricecntr span {font-size: 12px;margin-bottom: 5px;display: inline-block;}
.tokenpricecntr .tokensold,
.tokenpricecntr .usdraised{background: #ffffff66;border-radius: 20px;padding: 10px 20px;height: 80px;}
.connectwallettitle {position: relative;margin-bottom: 20px;color: #fff;font-size: 16px;font-weight: 400;text-align: center;}
.connectwallettitle::after {content: "";background: #fff;position: absolute;width: 100%;height: 2px;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.connectwallettitle span {background: #023fba;padding: 0px 20px;position: relative;z-index: 99;}
.connectwalletcntr{margin-bottom: 10px;}
.connectwalletcntr .radiocntr{margin-bottom: 20px;}
.radiocntr .buywithethcntr label, 
.radiocntr .buywithusdtcntr label {position: relative;height: 45px;display: flex;align-items: center;background: #fff;border-radius: 50px;padding-left: 40px;color: #000;cursor: pointer;}
.radiocntr .buywithethcntr label::after, 
.radiocntr .buywithusdtcntr label::after {content: "";background: #14B168;position: absolute;border-radius: 50px;width: 20px;height: 20px;left: 10px;top: 50%;transform: translateY(-50%);}
.radiocntr .buywithethcntr label::after{background: #6D94DD;}
.radio-button{opacity: 0;position: absolute;top: 0;left: 0;margin: 0;}
.radio-button:checked + label {border: 3px solid #f8922a;}
.enteramount, .bfcamount{position: relative;}
.enteramount::after {content: "";background: #6D94DD;position: absolute;border-radius: 50px;width: 20px;height: 20px;left: 10px;top: 50%;transform: translateY(-50%);}
.amoutcnntr .col-6 input{height: 45px;background: #fff;border-radius: 50px;padding-left: 40px;color: #9F9F9F;border: 0px;outline: none;width: 100%;}

.tokens-logo {position: absolute;border-radius: 50px;width: 20px;height: 20px;left: 10px;top: 50%;transform: translateY(-50%);}
.amoutcnntr ::placeholder {color: #9F9F9F;opacity: 1;}
.amoutcnntr ::-ms-input-placeholder {color: #9F9F9F;}
.bfctokensbtn input {height: 60px;border-radius: 50px !important;font-size: 24px;font-weight: 800;}
.bfctokensbtn input.btn-primary:hover {background-color: #fff !important;border: 4px solid #f8922a;color: #f8922a !important;}


.bglive{
  width: 8px;
  height: 8px;
  background: #53ff5a;
  border-radius: 50px;
  margin-right: 5px;
}
.ReferralCodecntr{}
.ReferralCodecntr h5 {
  color: #183EB3;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  word-spacing: 0px;
  font-weight: 500;
}
.ReferralCodecntr .btn-close{color: #183EB3;}
.ReferralCodecntr p {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  word-spacing: 0px;
  font-weight: 300;
  line-height: 1.2;
}

.ReferralCodeinput{}
.Referralinputcntr{position: relative;}
.ReferralCodeinput input{
  border: 2px solid #183EB3;
  height: 46px;
  border-radius: 25px;
  width: 100%;
  background: #F4F4F4;
  color: #9F9F9F;
  padding: 5px 15px;
  outline: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  word-spacing: 0px;
  font-weight: 300;
  line-height: 1.2;
}
.ReferralCodeinput input.bggray{background: #656565;border: 2px solid #656565;color: #9F9F9F;}
.ReferralCodeinput input.bgblue{background: #183EB3;border: 2px solid #183EB3;color: #FFFFFF;padding-left: 150px;}

.ReferralCodeinput input::placeholder {color: #9F9F9F;opacity: 1;}
.ReferralCodeinput input::-ms-input-placeholder {color: #9F9F9F;opacity: 1;}
.ReferralCodeinput input.bgblue::placeholder {color: #FFFFFF;opacity: 1;}
.ReferralCodeinput input.bgblue::-ms-input-placeholder {color: #FFFFFF;opacity: 1;}

.ReferralCodeinput .bgbluecntr label {
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  display: flex;
  align-items: center;
  border-radius: 50px 0 0 50px;
  background: #183eb3;
  padding: 5px 20px;
  color: #86A4FF;
}

.ReferralCodeinput button {
  background: #FF8813;
  border-radius: 50px;
  height: 40px;
  padding: 0 20px;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  width: 85px;
  text-align: center;
}








@media screen and (max-width: 768px) {  
  h1 {font-size: 35px;line-height: 48px;}
  h2 {font-size: 30px;line-height: 42px;}
  .navbar-collapse{padding: 20px 0px;}
  section {padding: 40px 0;}
  #About+.bg-white{padding-top: 30px;}
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {top: 105%;}
  .owl-carousel .owl-nav .owl-prev{left: 40%;}
  .owl-carousel .owl-nav .owl-next {right: 40%;}
  .lrimg img {width: 100%;}
  .herocard-img img {width: 50%;}
  .hero-banner {padding: 30px;padding-bottom: 120px;padding-bottom: 0px;padding-top: 30px;}
  .banner-hero {margin: -106px 0px 0px 10px;margin: 0 -30px 0;}
  .banner-hero img {width: 120% !important;}
  main {padding-top: 80px;}

  .font14 {font-size: 18px;line-height: 1.4;}
  p {font-size: 18px !important;line-height: 1.4 !important;margin: 0;}
  .owl-carousel ul li {font-size: 18px;line-height: 1.4;}
  .Roadmap {padding-bottom: 70px !important;}
  .subscribecntr{margin-top: 30px;}
  .subscribecntr p{margin-bottom: 10px;}
  .subscribecntr input{margin-bottom: 10px;}
  .subscribecntr button{}

  .tokenscontainercntr {height: 100%;padding-top: 20px;}
  .tokenscontainercntr .logocntr {width: 200px;}
  .tokens-banner .bfc-tokens-banner {position: relative;width: 110%;left: 50%;bottom: 0;transform: translateX(-50%);margin-top: 20px;}
  .tokens-banner .font27 {font-size: 19.5px;}
  .tokens-banner .bitcoinism-wrapper h2{font-size: 32px;}
  .bfctokenscntr h3 {font-size: 18px;}
  .bfctokenscntr h3 span.islive {font-size: 14px;padding: 0px 15px;height: 25px;}
  .bfctokenscntr .bfclpprice {font-size: 12px;}
  .bfclppricesvg svg {width: 7px;height: 7px;}
  .tokenpricecntr span {font-size: 8px;margin-bottom: 0px;}
  .tokenpricecntr .tokensold, .tokenpricecntr .usdraised {padding: 2px 10px 20px;height: 60px;}
  .radiocntr .buywithethcntr label, .radiocntr .buywithusdtcntr label,
  .amoutcnntr .col-6 input {font-size: 12px;}
  .tokens-banner p.font14{font-size: 12px !important;}
  .bfctokensbtn input {height: 35px;font-size: 16px;padding: 0;}
  .bfctokenscntr .progress{margin: 10px 0;}
  .bfctokenscntr .bfclpprice,
  .tokenpricecntr,
  .connectwallettitle,
  .connectwalletcntr .radiocntr {margin-bottom: 10px;}
  .radiocntr .buywithethcntr label, 
  .radiocntr .buywithusdtcntr label,
  .amoutcnntr .col-6 input {height: 40px;}
  .btfont{font-size: 12px;}

}
@media screen and (max-width: 640px) {  
  h1 {font-size: 26px;line-height: 32px;}
  h2 {font-size: 22px;line-height: 28px;}
  h3 {font-size: 20px;line-height: 24px;}
  h4 {font-size: 18px;line-height: 24px;}
  h5 {font-size: 16px;}
  .font14, p {font-size: 14px !important;line-height: 1.4 !important;}
  .owl-carousel ul li {font-size: 12px !important;line-height: 1.4 !important;margin-bottom: 5px;}
  .hero-banner {padding: 20px;padding-bottom: 120px;padding-bottom: 0px;padding-top: 30px;}
  .banner-hero {margin: -123px 0px 0px 10px;margin: 0 -30px 0;}
  .banner-hero img {width: 120% !important;}
  .herocard-img img {width: 70%;}
  .countcntr {font-size: 20px;line-height: 28px;}

  
}